@layer theme, base, components, utilities;
@import 'tailwindcss/theme.css' layer(theme);
@import 'tailwindcss/preflight.css' layer(base);
@import 'tailwindcss/utilities.css' layer(utilities);

@plugin "tailwind-scrollbar-hide";
@plugin "@tailwindcss/typography";


@view-transition {
  navigation: auto;
}

@source "../../src/views/**/*.twig";
@source "../../parts/**/*.html";
@source "../../patterns/**/*.html";
@source "../../src/pages";
@source "../../src/content/pages/**/*.html";


/* Component classes */
@layer components {
  @import './components/buttons.css';
  @import './components/layout.css';
  @import './components/icons.css';
}

/* Animations */
@import './core/animations.css';

/* Body styles */
body {
  @apply antialiased text-neutral-100 bg-neutral-950 relative overflow-x-hidden;
}

a {
  text-decoration: none!important;
}

@layer utilities {
  .absolute {
    position: absolute !important;
  }
}
