{#
/**
 * Template Name: Archive
 * Description: Template for displaying post archives (category, tag, date, author)
 * Context: posts (array of Timber\Post objects), title (archive title)
 */
#}
{% extends "layouts/base.twig" %}

{% block content %}
<main class="flex-grow">
	<div class="archive-container">
		{% include 'partials/archive-header.twig' %}

		<div class="archive-posts">
			{% for post in posts %}
				{% include 'partials/post-card.twig' with { post: post } %}
			{% endfor %}
		</div>
	</div>
</main>
{% endblock %}
