{#
/**
 * Template Name: Front Page
 * Description: Template for the static homepage
 * Context: post (Timber\Post object for homepage)
 */
#}
{% extends "layouts/base.twig" %}

{% block content %}
<main class="flex-grow">
	{{ content | raw }}
</main>
{% endblock %}
