{#
/**
 * Template Name: Index (Fallback)
 * Description: Default fallback template for all content types
 * Context: posts, post (when in loop)
 */
#}
{% extends "layouts/base.twig" %}

{% block content %}
<main class="flex-grow">
	{{ content | raw }}
</main>
{% endblock %}
