{#
/**
 * Template Name: Single Post
 * Description: Single post template
 * Context: post (Timber\Post object)
 */
#}
{% extends "layouts/base.twig" %}

{% block content %}
<main class="flex-grow">
	{{ content | raw }}
</main>
{% endblock %}
