{#
/**
 * Template Name: Singular (Fallback)
 * Description: Fallback template for single posts and pages
 * Context: post (Timber\Post object)
 */
#}
{% extends "layouts/base.twig" %}

{% block content %}
<main class="flex-grow">
	{{ content | raw }}
</main>
{% endblock %}
