<div class="lines lines-container fixed top-0 left-0 right-0 h-full m-auto pointer-events-none z-0">
    <div class="line line-anim line-1 line-left absolute w-px h-full top-0 left-1/2"></div>
    <div class="line line-anim line-2 line-center absolute w-px h-full top-0 left-1/2"></div>
    <div class="line line-anim line-3 line-right absolute w-px h-full top-0 left-1/2"></div>
  </div>