<section class="relative z-10 sm:p-8 animate-scaleIn animation-delay-400  w-full max-w-7xl border-white/10 border rounded-3xl mt-12 mr-auto ml-auto pt-8 pr-8 pb-8 pl-8 backdrop-blur">
    
  <div  class="pointer-events-none absolute inset-0 overflow-hidden" aria-hidden="true">
<div  class="absolute left-0 bottom-0 w-[60%] h-[80%] rounded-[40%] bg-gradient-to-tr from-white/5 to-transparent blur-3xl"></div>
</div>
  <div class="text-center">
      <h2 class="text-[44px] sm:text-5xl md:text-6xl leading-[1.05] font-light text-zinc-100 tracking-tighter">Ready to Start Your Project?</h2>
      <p class="mt-4 text-base sm:text-lg text-neutral-300 max-w-2xl mx-auto">Let's discuss how we can bring your vision to life with creative solutions that make an impact.</p>
      <div class="flex gap-6 justify-center animate-fadeInUp animation-delay-500 mt-8 items-center">
        <a class="btn-gradient mt-4" href="#work">
          <span>Book a call</span>
        </a>
        <a class="btn-secondary mt-4" href="#pricing">
          <span>
            <span>View pricing</span>
            <svg class="lucide lucide-arrow-right icon-sm" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewbox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"><path d="M5 12h14"></path><path d="m12 5 7 7-7 7"></path></svg>
          </span>
        </a>
      </div>
    </div>
  </section>