<section class="relative z-10 sm:p-8 w-full max-w-7xl  mt-12 mr-auto ml-auto pt-8 pr-8 pb-8 pl-8">

  <div class="text-center">
      <h1 class="text-[44px] sm:text-6xl md:text-7xl leading-[1.05] font-light text-zinc-100 tracking-tighter">{{ archive.title }}</h1>
      <p class="mt-4 text-base sm:text-lg text-neutral-300 max-w-2xl mx-auto">{{ archive.description }}</p>
    </div>
  </section>