{#
/**
 * Layout: Single
 * Description: Single post/portfolio layout
 * Usage: {% extends "layouts/single.twig" %}
 */
#}
{% extends "layouts/base.twig" %}

{% block content %}
<main class="site-main">
    <article class="max-w-7xl mx-auto px-4 py-12">
        {# Article content - override in extending templates #}
    </article>
</main>
{% endblock %}
